!!! 5

- cache_buster = "?_=#{Time.now.to_i}"

%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html" }
    %meta{ :name => "viewport", :content => "width=device-width" }
    %meta{ :name => "description", :content => "Turn any file on your computer into a branded download page hosted on Dropbox." }
    %meta{ :name => "bitly-verification", :content => "05ae9fe22b8e" }
    %title= @page_title ? "#{@page_title} — Servus for Mac" : "Servus for Mac. Your uploads, your style, on Dropbox."

    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/servus.css#{cache_buster}" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/fd-slider.mhtml.min.css#{cache_buster}" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "//assets.servus.io/3/font-awesome.min.css" }
    /[if IE 7 ]
      %link{ :rel => "stylesheet", :type => "text/css", :href => "//assets.servus.io/3/font-awesome-ie7.min.css" }

    %script{ :src => "/js/vendor/custom.modernizr.js#{cache_buster}" }

    %link{ :rel => "publisher", :href => "https://plus.google.com/101996114152007191046" }
    %link{ :rel => "shortcut icon", :href => "/img/favicon.png" }
    :javascript
      var
        // GoSquared
        GoSquared = { acct: "GSN-208108-B" },
        _gstc_lt = +new Date(),
        // Google Analytics
        _gaq = _gaq || [];

      _gaq.push(["_setAccount", "UA-3142618-11"]);
      _gaq.push(["_setDomainName", "servus.io"]);
      _gaq.push(["_setAllowLinker", true]);
      _gaq.push(["_trackPageview"]);

      // Typekit preparation
      document.getElementsByTagName("html")[0].className += " wf-loading";

      yepnope([
        {
          load: "timeout=1000!//use.typekit.net/lvn0xvt.js",
          complete: function() {
            try {
              Typekit.load();
            } catch(e) {
              document.getElementsByTagName("html")[0].className = document.getElementsByTagName("html")[0].className.replace( /\bwf-loading\b/, "" );
            };
          }
        },
        {
          test: ( document.location.hostname !== "localhost" ),
          yep: [
            // GoSquared
            "//d1l6p2sc9645hc.cloudfront.net/tracker.js",
            // Google Analytics
            "//ssl.google-analytics.com/ga.js"
          ]
        }
      ]);


  %body
    #main-nav.contain-to-grid.fixed
      %div
        %nav.top-bar
          %ul.title-area
            %li.name
              %h1
                %a{ :href => "/" } Servus. For Mac & Dropbox.
            %li.toggle-topbar.menu-icon
              %a{ :href => "#", :title => "Open navigational menu" }
                %span

          %section.top-bar-section
            %ul.right
              %li
                %a.download{ :href => "/download" } Download Servus

              %li
                %a{ :href => "/faq.html" } FAQ

              %li
                %a{ :href => "/theme-docs.html" } Theme docs

              %li.has-dropdown
                %a{ :href => "#" } Extras
                %ul.dropdown
                  %li
                    %a{ :href => "/extras.html" } Helpers
                  %li
                    %a{ :href => "/api.html" } API

              %li.has-dropdown
                %a{ :href => "#" } News & Contact
                %ul.dropdown
                  %li
                    %a{ :href => "http://blog.servus.io/" }
                      %i.icon-align-left
                      Blog
                  %li
                    %a{ :href => "https://tinyletter.com/servusio" }
                      %i.icon-envelope-alt
                      Newsletter
                  %li
                    %a{ :href => "/twitter" }
                      %i.icon-twitter
                      Twitter
                  %li
                    %a{ :href => "/+" }
                      %i.icon-google-plus-sign
                      Google+
                  %li.divider
                  %li
                    %a{ :href => "mailto:carlo@servus.io" }
                      %i.icon-envelope
                      Contact Carlo


    #content-column
      = yield


    .row
      .large-12.text-center.columns
        %hr

        #microdata{ :itemscope => "", :itemtype => "http://schema.org/Product" }
          %span.visuallyhidden{ :itemprop => "name" } Servus for Mac
          %img{ :itemprop => "image", :src => "img/app-icon.png", :alt => "Servus icon" }
          %a.visuallyhidden{ :itemprop => "url", :href => "https://servus.io" } Servus for Mac
          %span.visuallyhidden{ :itemprop => "description" }
            A Dropbox-powered sharing app for Mac. It's a menubar icon. Drop a
            file on it, and it'll build a preview page for it (custom themes!),
            upload it to your Dropbox, and copy the link for you.

        %p#imprint
          %strong Imprint:
          %a{ :href => "http://municode.de" } Carlo Zottmann,
          Zeisigweg 30, 81827 München, Germany
          \ &middot; carlo@servus.io
          \ &middot; USt-ID: DE260224054


    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" }
    %script{ :src => "/js/all.js#{cache_buster}" }
