.page-extras
  .row
    .large-8.large-centered.columns
      %h2 API &amp; Scripting

      %p
        Dragging files and folders onto Servus' menubar icon is just half the
        fun.  I like scripting and automation, so naturally I wanted a way to
        tell the app to upload things without me using the trackpad.

      #toc.panel


      %section#section-general
        %h3 The API in general

        %p
          The API is URL-based, meaning Servus is listening for calls to URLs
          with the
          %em scheme
          = succeed "." do
            %code servus
          The scheme is followed by the name of the desired
          = succeed "," do
            %em endpoint
          for example
          = succeed "," do
            %code upload
          which in turn is followed by the
          = succeed "," do
            %em argument
          i.e. the file path
          you're passing to the endpoint.  So the syntax of the API calls is
          = succeed "." do
            %code [scheme]://[endpoint]/[argument]

        %p
          Right now there's just one endpoint but I'll add new ones when it
          makes sense.  See below for more information.


      %section#section-calling
        %h3 How to call an API endpoint

        %p
          You can use the OS&nbsp;X' built-in shell command
          %code open
          to call an endpoint.  Additionally, you may use AppleScript.

        %p
          An example: my OS&nbsp;X username is "carlo", and on my desktop
          there is a file named
          %code important.pdf
          which I want Servus to upload.  That file's full path —i.e. the
          %em argument
          I'll need to pass to the endpoint— is
          = succeed "." do
            %code /Users/carlo/Desktop/important.pdf

        %p
          %strong Using the shell:
          %br
          %code open&nbsp;servus://upload/Users/carlo/Desktop/important.pdf
          %br

        %p
          %strong Using AppleScript:
          %br
          %code
            tell application "Finder" to open location
            "servus://upload/Users/carlo/Desktop/important.pdf"

        %p
          If the file path contains a space, handle it as you would in the
          shell, i.e. either by putting the API URL in quotes or by escaping
          the space using a backslash.  The following two shell-based examples
          yield the same result:

        %p
          %code
            open&nbsp;servus://upload/Users/carlo/Important\ Files/important.pdf;
            %br
            open&nbsp;"servus://upload/Users/carlo/Important Files/important.pdf";


      %section#section-endpoint-upload
        %h3
          Endpoint:
          %code upload

        %p
          Uploads a file.  This is the scripting equivalent of dragging a file
          onto the app's menubar icon.

        %dl
          %dt Argument
          %dd
            The absolute path of the file/folder to upload.
          %dt Example
          %dd
            %code servus://upload/Users/carlo/Desktop/important.pdf
