!!! 5

- cache_buster = "?_=#{Time.now.to_i}"

%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html" }
    %meta{ :name => "viewport", :content => "width=device-width" }
    %meta{ :name => "description", :content => "Turn any file on your computer into a branded download page hosted on Dropbox." }
    %meta{ :name => "bitly-verification", :content => "05ae9fe22b8e" }
    %title Servus for Mac. Your uploads, your style, on Dropbox.

    %script{ :src => "/js/vendor/custom.modernizr.js#{cache_buster}" }

    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/servus.css#{cache_buster}" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "//assets.servus.io/3/font-awesome.min.css" }
    /[if IE 7 ]
      %link{ :rel => "stylesheet", :type => "text/css", :href => "//assets.servus.io/3/font-awesome-ie7.min.css" }
    %link{ :rel => "publisher", :href => "https://plus.google.com/101996114152007191046" }
    %link{ :rel => "shortcut icon", :href => "/img/favicon.png" }



  %body
    #main-nav.contain-to-grid.fixed
      %div
        %nav.top-bar
          %ul.title-area
            %li.name
              %h1.display-font
                %a{ :href => "/" } Servus. For Mac & Dropbox.
            %li.toggle-topbar.menu-icon
              %a{ :href => "#" }
                %span Menu

          %section.top-bar-section
            %ul.right
              %li
                /.active
                %a.download{ :href => "/download" } Download Servus

              %li
                %a{ :href => "/faq.html" } FAQ

              %li
                %a{ :href => "/theme-docs.html" } Theme docs

              %li.has-dropdown
                %a{ :href => "/extras.html" } Extras
                %ul.dropdown
                  %li
                    %a{ :href => "/extras.html" } Extras
                  %li
                    %a{ :href => "/extras.html#scripting" } Scripting

              %li.has-dropdown
                %a{ :href => "#" } News & Contact
                %ul.dropdown
                  %li
                    %a{ :href => "http://blog.servus.io/" }
                      %i.icon-align-left
                      Blog
                  %li
                    %a{ :href => "https://tinyletter.com/servusio" }
                      %i.icon-envelope-alt
                      Newsletter
                  %li
                    %a{ :href => "/twitter" }
                      %i.icon-twitter
                      Twitter
                  %li
                    %a{ :href => "/+" }
                      %i.icon-google-plus-sign
                      Google+
                  %li.divider
                  %li
                    %a{ :href => "mailto:carlo@servus.io" }
                      %i.icon-envelope
                      Contact Carlo


    #content-column
      = yield


    .row
      .large-12.text-center.columns
        %hr

        #microdata{ :itemscope => "", :itemtype => "http://schema.org/Product" }
          %span{ :itemprop => "name" } Servus for Mac
          %img{ :itemprop => "image", :src => "img/app-icon.png", :alt => "Servus icon" }
          %a{ :itemprop => "url", :href => "https://servus.io" } Servus for Mac
          %span{ :itemprop => "description" }
            A Dropbox-powered sharing app for Mac. It's a menubar icon. Drop a
            file on it, and it'll build a preview page for it (custom themes!),
            upload it to your Dropbox, and copy the link for you.

        %p#imprint
          %strong Imprint:
          %a{ :href => "http://municode.de" } Carlo Zottmann,
          Zeisigweg 30, 81827 München, Germany
          \ &middot; carlo@servus.io
          \ &middot; USt-ID: DE260224054

    %script{ :src => "js/vendor/jquery.min.js#{cache_buster}" }
    %script{ :src => "js/all.js#{cache_buster}" }

